.header{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    position:sticky;
    z-index: 100;
    top: 0px;
    background-color: white;

}

.header__logo{
    height: 25px;
    object-fit: contain;
    margin-left: 1.2rem;
}


.header__left{
}

.header__input{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 20px 20px 20px 20px ;
    padding-left: 1rem;
    height: 30px;
    padding-right: 0;
}

.header__inputButton{
    width: 10% !important;
    height: 30px;
    color: rgb(108, 88, 88);
    background-color: rgb(194, 181, 181);
    border-radius: 0px 20px 20px 0px;
    margin: 0;
    padding: 0;
}

.header__icons{
    display: flex;
    align-items: center;
}

.header__icon{
    margin-right: 8px;
}

.header__input input{
    flex: 1;
    border: none;
}