.videoCard{
    width: 270px;
    margin-bottom: 40px;
}

.videoCard__thumbnail{
    width: 250px;
    height: 150px;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}

.videoCard__info{
    display: flex;
}

.videoCard__text{
    padding: 0rem 1rem;
    font-size: 13px;
}

.videoCard__text > h4{
    font-size: 13px;
}